flow.json
[
    {
        "id": "1443ac5c69d1a2ac",
        "type": "tab",
        "label": "Automatizare poarta",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df2ec36c3dbdb923",
        "type": "tab",
        "label": "SMS gateway ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30c2080cd95f07e3",
        "type": "tab",
        "label": "Garden Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "402ae319d72eccf6",
        "type": "tab",
        "label": "Automatizare poarta mica",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec1761727ca60cf2",
        "type": "tab",
        "label": "Power Garden",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73850d9f081d4c01",
        "type": "mqtt-broker",
        "name": "mqtt local",
        "broker": "192.168.2.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d8f9da260f68b17a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fbb421a1cd99dfd5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f0ab848c9c25cfc7",
        "type": "ui_group",
        "name": "Automatizare poarta",
        "tab": "d8f9da260f68b17a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "199a24ab9a76fca6",
        "type": "ui_group",
        "name": "SMS",
        "tab": "d8f9da260f68b17a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdaf1034342bf427",
        "type": "translator-config",
        "name": "Deschide poarta",
        "commandText": "on:true\noff:false\nactive:true\ninactive:false\nopen:true\nclosed:false\nclose:false\n1:true\n0:false\ntrue:true\nfalse:false\nhome:true\nnot_home:false\n+40740244845:true\ndeschide:true"
    },
    {
        "id": "4b3fc6af39f89cb4",
        "type": "translator-config",
        "name": "inchide poarta",
        "commandText": "on:true\noff:false\nactive:true\ninactive:false\nopen:true\nclosed:false\nclose:false\n1:true\n0:false\ntrue:true\nfalse:false\nhome:true\nnot_home:false\ninchide:true\n+40740244845:true"
    },
    {
        "id": "4f34e9fc19a9590e",
        "type": "ui_group",
        "name": "Garden Lights",
        "tab": "d8f9da260f68b17a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "506ab0719d70e306",
        "type": "ui_group",
        "name": "Automatizare poarta mica",
        "tab": "d8f9da260f68b17a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad313602d86893b8",
        "type": "ui_group",
        "name": "Power Meter",
        "tab": "d8f9da260f68b17a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2484df462203f0fa",
        "type": "mqtt in",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "stat/automatizare_poarta/POWER1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "632d2f39b5818f7c"
            ]
        ]
    },
    {
        "id": "5d5513ae624984fe",
        "type": "ui_switch",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "label": "Deschide",
        "tooltip": "",
        "group": "f0ab848c9c25cfc7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "fc19d7cc774c78ae"
            ]
        ]
    },
    {
        "id": "0211c22715b51fc4",
        "type": "mqtt out",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power1",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "9eb783b6b952e4d8",
        "type": "mqtt in",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "stat/automatizare_poarta/POWER2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "91db8a0ca063031d"
            ]
        ]
    },
    {
        "id": "4652171ab4344cd4",
        "type": "ui_switch",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "label": "Inchide",
        "tooltip": "",
        "group": "f0ab848c9c25cfc7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "5312798480912252"
            ]
        ]
    },
    {
        "id": "aa1873314110279c",
        "type": "mqtt out",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power2",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1300,
        "y": 300,
        "wires": []
    },
    {
        "id": "91db8a0ca063031d",
        "type": "change",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "4652171ab4344cd4"
            ]
        ]
    },
    {
        "id": "632d2f39b5818f7c",
        "type": "change",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "5d5513ae624984fe"
            ]
        ]
    },
    {
        "id": "932caea425db6ced",
        "type": "mqtt in",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "stat/automatizare_poarta/POWER3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "29ac59b3e6a322f9"
            ]
        ]
    },
    {
        "id": "ada39c6a69dac552",
        "type": "ui_switch",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "label": "Trigger",
        "tooltip": "",
        "group": "f0ab848c9c25cfc7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 720,
        "y": 360,
        "wires": [
            [
                "22fa284dcf61e365"
            ]
        ]
    },
    {
        "id": "efe37bcfe95ea441",
        "type": "mqtt out",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power3",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1300,
        "y": 360,
        "wires": []
    },
    {
        "id": "29ac59b3e6a322f9",
        "type": "change",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "ada39c6a69dac552"
            ]
        ]
    },
    {
        "id": "c9681cf65181bdb4",
        "type": "mqtt in",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "stat/automatizare_poarta/POWER4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "e93b60b207816756"
            ]
        ]
    },
    {
        "id": "dbc028ae2932b242",
        "type": "ui_switch",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "label": "Deschide",
        "tooltip": "",
        "group": "f0ab848c9c25cfc7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "c2cfc935cf8a17d2"
            ]
        ]
    },
    {
        "id": "24bfd712263b5c13",
        "type": "mqtt out",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power4",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "e93b60b207816756",
        "type": "change",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "dbc028ae2932b242"
            ]
        ]
    },
    {
        "id": "fc19d7cc774c78ae",
        "type": "trigger",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "0211c22715b51fc4"
            ]
        ]
    },
    {
        "id": "5312798480912252",
        "type": "trigger",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "aa1873314110279c"
            ]
        ]
    },
    {
        "id": "22fa284dcf61e365",
        "type": "trigger",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 980,
        "y": 360,
        "wires": [
            [
                "efe37bcfe95ea441"
            ]
        ]
    },
    {
        "id": "c2cfc935cf8a17d2",
        "type": "trigger",
        "z": "1443ac5c69d1a2ac",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 980,
        "y": 420,
        "wires": [
            [
                "24bfd712263b5c13"
            ]
        ]
    },
    {
        "id": "8458b627e04d268c",
        "type": "mqtt in",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "esp32SMS/Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "c00b40a464e7b6fa"
            ]
        ]
    },
    {
        "id": "c00b40a464e7b6fa",
        "type": "ui_text",
        "z": "df2ec36c3dbdb923",
        "group": "199a24ab9a76fca6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SMS status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "ed90f1a6aeef6f2d",
        "type": "mqtt in",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "esp32SMS/smsReceive/from",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "84fd94f6db95a1c7",
                "60d39a578532f662"
            ]
        ]
    },
    {
        "id": "84fd94f6db95a1c7",
        "type": "ui_text",
        "z": "df2ec36c3dbdb923",
        "group": "199a24ab9a76fca6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SMS receive from",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "c19e9b6727c499d4",
        "type": "mqtt in",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "esp32SMS/smsReceive/text",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "b8f31e0fc9a3775e",
                "7db5c83c7aaf5559"
            ]
        ]
    },
    {
        "id": "b8f31e0fc9a3775e",
        "type": "ui_text",
        "z": "df2ec36c3dbdb923",
        "group": "199a24ab9a76fca6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SMS receive text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "7f983cf65176a161",
        "type": "ui_text_input",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "label": "SMS to",
        "tooltip": "",
        "group": "199a24ab9a76fca6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 900,
        "y": 140,
        "wires": [
            [
                "053dac7118dfe37e"
            ]
        ]
    },
    {
        "id": "053dac7118dfe37e",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "esp32SMS/smsSend/to",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1750,
        "y": 140,
        "wires": []
    },
    {
        "id": "47b8206fc4fe1ed8",
        "type": "ui_text_input",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "label": "SMS text",
        "tooltip": "",
        "group": "199a24ab9a76fca6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 900,
        "y": 280,
        "wires": [
            [
                "d0cf782f5af037df"
            ]
        ]
    },
    {
        "id": "d0cf782f5af037df",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "esp32SMS/smsSend/text",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 2410,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0868713bca48c623",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power1",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1580,
        "y": 580,
        "wires": []
    },
    {
        "id": "de170eb5617e6be2",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power2",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1580,
        "y": 680,
        "wires": []
    },
    {
        "id": "74e185d306100196",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 580,
        "wires": [
            [
                "0868713bca48c623"
            ]
        ]
    },
    {
        "id": "ec2741c64f3c2c66",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 680,
        "wires": [
            [
                "de170eb5617e6be2"
            ]
        ]
    },
    {
        "id": "6d2189c01bc5ffb3",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite deschide poarta",
        "func": "msg.payload=\"receptionat deschide poarta\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "ed4b38c5f92ffe08",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite inchide poarta",
        "func": "msg.payload=\"receptionat inchide poarta\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 620,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "9a723ae4b3bf10b0",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for deschide",
        "func": "if (msg.payload.includes(\"deschide\"))\n{\n    msg.payload = true;\n} else\n{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 580,
        "wires": [
            [
                "2cdd97d86854d1c9"
            ]
        ]
    },
    {
        "id": "80e25fa808528044",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for inchide",
        "func": "if (msg.payload.includes(\"inchide\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 680,
        "wires": [
            [
                "be46ec3c39e80191"
            ]
        ]
    },
    {
        "id": "a846b459c3c16e22",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for trigger",
        "func": "if (msg.payload.includes(\"trigger\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 780,
        "wires": [
            [
                "ee44919af1a2cff0"
            ]
        ]
    },
    {
        "id": "60d39a578532f662",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "set the global number",
        "rules": [
            {
                "t": "set",
                "p": "number",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3e4e93ceeec77198",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 780,
        "wires": [
            [
                "347d4ba49e9a2138"
            ]
        ]
    },
    {
        "id": "fe8b87b6d47a1232",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite inchide poarta",
        "func": "msg.payload=\"receptionat trigger poarta\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 720,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "347d4ba49e9a2138",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power3",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1580,
        "y": 780,
        "wires": []
    },
    {
        "id": "2cdd97d86854d1c9",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1030,
        "y": 580,
        "wires": [
            [
                "6d2189c01bc5ffb3",
                "74e185d306100196"
            ],
            []
        ]
    },
    {
        "id": "be46ec3c39e80191",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "ed4b38c5f92ffe08",
                "ec2741c64f3c2c66"
            ],
            []
        ]
    },
    {
        "id": "ee44919af1a2cff0",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "fe8b87b6d47a1232",
                "3e4e93ceeec77198"
            ],
            []
        ]
    },
    {
        "id": "ed4ec96ac55fa0f9",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for opreste",
        "func": "if (msg.payload.includes(\"opreste\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 900,
        "wires": [
            [
                "5a57a681a3e191ba"
            ]
        ]
    },
    {
        "id": "5a57a681a3e191ba",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1030,
        "y": 900,
        "wires": [
            [
                "36fb16ad223ccf27",
                "fe99cff05584ad9c"
            ],
            []
        ]
    },
    {
        "id": "36fb16ad223ccf27",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite stop poarta",
        "func": "msg.payload=\"receptionat stop poarta\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 840,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "fe99cff05584ad9c",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 900,
        "wires": [
            [
                "a8cfb10ff256b98c"
            ]
        ]
    },
    {
        "id": "a8cfb10ff256b98c",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "cmnd/automatizare_poarta/Power4",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1580,
        "y": 900,
        "wires": []
    },
    {
        "id": "7db5c83c7aaf5559",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "security check",
        "func": "var smsNumber = global.get(\"number\");\nvar securityCheck = false;\n\n// check for the numbers allowed to send\nif (smsNumber.includes(\"+40740244845\")) securityCheck = true;\nif (smsNumber.includes(\"+40745218721\")) securityCheck = true;\nif (smsNumber.includes(\"+40756671670\")) securityCheck = true;\n\nif (securityCheck) {\n    // just send the message\n} else {\n    msg.payload = \"not allowed\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "a053c03faf03794d",
                "9a723ae4b3bf10b0",
                "80e25fa808528044",
                "a846b459c3c16e22",
                "ed4ec96ac55fa0f9",
                "686e557e5d07a364",
                "620b6b83b07c2d48",
                "976b3456a69188b5",
                "4f7cd27c6d3ffa00",
                "bf38a4f606393ebc",
                "245261643ca98294",
                "0a2aa4ef777c8cc0"
            ]
        ]
    },
    {
        "id": "879d9eb8d6aabed8",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "a12197aca42c87e3"
            ],
            []
        ]
    },
    {
        "id": "a12197aca42c87e3",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite help text",
        "func": "msg.payload=\"Commenzi suportate: \\n poarta principala: deschide / inchide / trigger / opreste \\n \\\n                                 \\n poarta secundara: open / close / toggle / stop \\n\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 440,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "95695a0d731bc631",
        "type": "delay",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2160,
        "y": 1060,
        "wires": [
            [
                "d0cf782f5af037df"
            ]
        ]
    },
    {
        "id": "0fc090f09f57118f",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite catre numarul de la care a fost requestul",
        "func": "var smsNumber = global.get(\"number\");\nmsg.payload = smsNumber;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 180,
        "wires": [
            [
                "053dac7118dfe37e"
            ]
        ]
    },
    {
        "id": "d01998593b99f2b9",
        "type": "delay",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1950,
        "y": 980,
        "wires": [
            [
                "0fc090f09f57118f",
                "95695a0d731bc631"
            ]
        ]
    },
    {
        "id": "a053c03faf03794d",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for help",
        "func": "if (msg.payload.includes(\"help\"))\n{\n    msg.payload = true;\n} else\n{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 480,
        "wires": [
            [
                "879d9eb8d6aabed8"
            ]
        ]
    },
    {
        "id": "c67cb671ebee9e6b",
        "type": "comment",
        "z": "df2ec36c3dbdb923",
        "name": "Configure first gate",
        "info": "",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "dd106e954262aaa1",
        "type": "comment",
        "z": "df2ec36c3dbdb923",
        "name": "Configure second gate",
        "info": "",
        "x": 860,
        "y": 960,
        "wires": []
    },
    {
        "id": "509bedb2d992c08d",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay1",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1790,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3250fbdde60e7d95",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay2",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1790,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b85666393868e4b6",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1040,
        "wires": [
            [
                "db861b296757c8f1"
            ]
        ]
    },
    {
        "id": "a45c3168ce275ab2",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1140,
        "wires": [
            [
                "743ad880557736b8"
            ]
        ]
    },
    {
        "id": "66c47bbc596fb60e",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite inchide poarta",
        "func": "msg.payload=\"receptionat inchide poarta secundara\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1080,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "686e557e5d07a364",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for open",
        "func": "if (msg.payload.includes(\"open\"))\n{\n    msg.payload = true;\n} else\n{\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1040,
        "wires": [
            [
                "46a1e7ad2c260b33"
            ]
        ]
    },
    {
        "id": "620b6b83b07c2d48",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for close",
        "func": "if (msg.payload.includes(\"close\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1140,
        "wires": [
            [
                "5e27a335d9168dab"
            ]
        ]
    },
    {
        "id": "976b3456a69188b5",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for toggle",
        "func": "if (msg.payload.includes(\"toggle\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1240,
        "wires": [
            [
                "6f39eddaf2a5fedd"
            ]
        ]
    },
    {
        "id": "0945cea28a1f90ef",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1240,
        "wires": [
            [
                "ad8a54276180226e"
            ]
        ]
    },
    {
        "id": "801262b2d860f68b",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite trigger poarta",
        "func": "msg.payload =\"receptionat trigger poarta secundara\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1180,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "4ab00987d1d73ef3",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay3",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1790,
        "y": 1240,
        "wires": []
    },
    {
        "id": "46a1e7ad2c260b33",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1030,
        "y": 1040,
        "wires": [
            [
                "b85666393868e4b6",
                "e6cbd58da9ab5dc6",
                "108e6c8007632f15"
            ],
            []
        ]
    },
    {
        "id": "5e27a335d9168dab",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1050,
        "y": 1140,
        "wires": [
            [
                "66c47bbc596fb60e",
                "a45c3168ce275ab2",
                "108e6c8007632f15"
            ],
            []
        ]
    },
    {
        "id": "6f39eddaf2a5fedd",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1030,
        "y": 1240,
        "wires": [
            [
                "801262b2d860f68b",
                "0945cea28a1f90ef",
                "108e6c8007632f15"
            ],
            []
        ]
    },
    {
        "id": "4f7cd27c6d3ffa00",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for stop",
        "func": "if (msg.payload.includes(\"stop\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1360,
        "wires": [
            [
                "0a802d2aad5e123b"
            ]
        ]
    },
    {
        "id": "0a802d2aad5e123b",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1030,
        "y": 1360,
        "wires": [
            [
                "a0ca8090d8ac6074",
                "7b842371a2d53f30",
                "108e6c8007632f15"
            ],
            []
        ]
    },
    {
        "id": "a0ca8090d8ac6074",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite stop poarta",
        "func": "msg.payload =\"receptionat stop poarta secundara\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1300,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "7b842371a2d53f30",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1360,
        "wires": [
            [
                "bedeb2cad4c0db06"
            ]
        ]
    },
    {
        "id": "2bc3c26103f2ab58",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay4",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1790,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bf38a4f606393ebc",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for aprinde lumini",
        "func": "if (msg.payload.includes(\"aprinde lumini\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1480,
        "wires": [
            [
                "d919bd96469b4490"
            ]
        ]
    },
    {
        "id": "d919bd96469b4490",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1070,
        "y": 1480,
        "wires": [
            [
                "38e0f60ea9bcd5e8",
                "108e6c8007632f15"
            ],
            []
        ]
    },
    {
        "id": "38e0f60ea9bcd5e8",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite aprinde lumini poarta",
        "func": "msg.payload =\"receptionat aprinde lumini poarta secundara\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1420,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "108e6c8007632f15",
        "type": "trigger",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "120",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1310,
        "y": 1480,
        "wires": [
            [
                "960ed93d9499aae7",
                "e3233f492b58c7a5"
            ]
        ]
    },
    {
        "id": "04a1a75c5045da1d",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay5",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1870,
        "y": 1480,
        "wires": []
    },
    {
        "id": "3b4b3c34c18585a2",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay6",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1890,
        "y": 1540,
        "wires": []
    },
    {
        "id": "245261643ca98294",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for stinge lumini",
        "func": "if (msg.payload.includes(\"stinge lumini\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1620,
        "wires": [
            [
                "515e55139cac216b"
            ]
        ]
    },
    {
        "id": "515e55139cac216b",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1070,
        "y": 1620,
        "wires": [
            [
                "5215dcf07a12ae2e",
                "2397045876ced4ae",
                "5fd8959a42b1c278"
            ],
            []
        ]
    },
    {
        "id": "5215dcf07a12ae2e",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite  stingelumini poarta",
        "func": "msg.payload =\"receptionat stinge lumini poarta secundara\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1560,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "09e053e23f7e00e2",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay5",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1790,
        "y": 1620,
        "wires": []
    },
    {
        "id": "82757a51c2f0127c",
        "type": "mqtt out",
        "z": "df2ec36c3dbdb923",
        "name": "",
        "topic": "SecondGate/CMD/Relay6",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1790,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e6cbd58da9ab5dc6",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite deschide poarta",
        "func": "msg.payload =\"receptionat deschide poarta secundara\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 960,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "743ad880557736b8",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 1140,
        "wires": [
            [
                "509bedb2d992c08d"
            ]
        ]
    },
    {
        "id": "ad8a54276180226e",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 1240,
        "wires": [
            [
                "4ab00987d1d73ef3"
            ]
        ]
    },
    {
        "id": "bedeb2cad4c0db06",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 1360,
        "wires": [
            [
                "2bc3c26103f2ab58"
            ]
        ]
    },
    {
        "id": "960ed93d9499aae7",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 1480,
        "wires": [
            [
                "04a1a75c5045da1d"
            ]
        ]
    },
    {
        "id": "2397045876ced4ae",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1620,
        "wires": [
            [
                "09e053e23f7e00e2"
            ]
        ]
    },
    {
        "id": "5fd8959a42b1c278",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1660,
        "wires": [
            [
                "82757a51c2f0127c"
            ]
        ]
    },
    {
        "id": "db861b296757c8f1",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 1040,
        "wires": [
            [
                "3250fbdde60e7d95"
            ]
        ]
    },
    {
        "id": "e3233f492b58c7a5",
        "type": "change",
        "z": "df2ec36c3dbdb923",
        "name": "true to ON and false to OFF",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 1540,
        "wires": [
            [
                "3b4b3c34c18585a2"
            ]
        ]
    },
    {
        "id": "45c78b70b958877b",
        "type": "comment",
        "z": "df2ec36c3dbdb923",
        "name": "Status outdoor",
        "info": "",
        "x": 840,
        "y": 1700,
        "wires": []
    },
    {
        "id": "0a2aa4ef777c8cc0",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "check for consum",
        "func": "if (msg.payload.includes(\"consum\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1780,
        "wires": [
            [
                "72ae2a3c207aed66"
            ]
        ]
    },
    {
        "id": "72ae2a3c207aed66",
        "type": "switch",
        "z": "df2ec36c3dbdb923",
        "name": "true or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1070,
        "y": 1780,
        "wires": [
            [
                "8d50197749f2c60c"
            ],
            []
        ]
    },
    {
        "id": "8d50197749f2c60c",
        "type": "function",
        "z": "df2ec36c3dbdb923",
        "name": "trimite  stingelumini poarta",
        "func": "msg.payload =\"receptionat status consum\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1740,
        "wires": [
            [
                "d01998593b99f2b9"
            ]
        ]
    },
    {
        "id": "1b6d42f41f565178",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "4a1c1b9f8bbbed8a"
            ]
        ]
    },
    {
        "id": "dca5bf2c55777db7",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay1",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a1c1b9f8bbbed8a",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 1",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 100,
        "wires": [
            [
                "dca5bf2c55777db7"
            ]
        ]
    },
    {
        "id": "b4bf82983cac9828",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "37a1c936f8af9cf2"
            ]
        ]
    },
    {
        "id": "9180f806066bdf2a",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 140,
        "wires": []
    },
    {
        "id": "37a1c936f8af9cf2",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 2",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 140,
        "wires": [
            [
                "9180f806066bdf2a"
            ]
        ]
    },
    {
        "id": "6c5246bb48d8f6be",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "6071f360cdb423ca"
            ]
        ]
    },
    {
        "id": "8866514cba7faa8f",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 180,
        "wires": []
    },
    {
        "id": "6071f360cdb423ca",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 3",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 180,
        "wires": [
            [
                "8866514cba7faa8f"
            ]
        ]
    },
    {
        "id": "7441506ee8ae5c4d",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "5b429ac6a6109fe8"
            ]
        ]
    },
    {
        "id": "d45214336c66e101",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 220,
        "wires": []
    },
    {
        "id": "5b429ac6a6109fe8",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 4",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "d45214336c66e101"
            ]
        ]
    },
    {
        "id": "c1cfb39bd57b50f5",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "eb6d82ed6889ee49"
            ]
        ]
    },
    {
        "id": "d174c324edafc170",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 260,
        "wires": []
    },
    {
        "id": "eb6d82ed6889ee49",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 5",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "d174c324edafc170"
            ]
        ]
    },
    {
        "id": "491e79d7daf0f0bf",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "3c1e09f9d284513a"
            ]
        ]
    },
    {
        "id": "0fcfb961e5ab8555",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay6",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "3c1e09f9d284513a",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 6",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "0fcfb961e5ab8555"
            ]
        ]
    },
    {
        "id": "f4258285ba668306",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "a5fe2510ae7d548b"
            ]
        ]
    },
    {
        "id": "0d52f7b8dcdc5868",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay7",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 340,
        "wires": []
    },
    {
        "id": "a5fe2510ae7d548b",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 7",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 340,
        "wires": [
            [
                "0d52f7b8dcdc5868"
            ]
        ]
    },
    {
        "id": "26a5fa8c348f0cc9",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay8",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "d2423d33b13fb88e"
            ]
        ]
    },
    {
        "id": "6d486fa26781984f",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay8",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "d2423d33b13fb88e",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 8",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 380,
        "wires": [
            [
                "6d486fa26781984f"
            ]
        ]
    },
    {
        "id": "693cebbc680e5dc8",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay9",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "03cfea8ad4231762"
            ]
        ]
    },
    {
        "id": "1e195203af1a883b",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay9",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 420,
        "wires": []
    },
    {
        "id": "03cfea8ad4231762",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 9",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "1e195203af1a883b"
            ]
        ]
    },
    {
        "id": "63b68d89300bd4a3",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "7ead7d63df3de2c1"
            ]
        ]
    },
    {
        "id": "badbe94ac1d585ad",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay10",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ead7d63df3de2c1",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 10",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "badbe94ac1d585ad"
            ]
        ]
    },
    {
        "id": "3f4a826e11b3f700",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "c206a521a4f0700d"
            ]
        ]
    },
    {
        "id": "4f9186edc7af4b79",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay11",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "c206a521a4f0700d",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 11",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 500,
        "wires": [
            [
                "4f9186edc7af4b79"
            ]
        ]
    },
    {
        "id": "b31adcf779a45c8b",
        "type": "mqtt in",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/STAT/Relay12",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "1d9d977b0ee39156"
            ]
        ]
    },
    {
        "id": "2ce97019317067b5",
        "type": "mqtt out",
        "z": "30c2080cd95f07e3",
        "name": "",
        "topic": "GardenAutomationLights/CMD/Relay12",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1220,
        "y": 540,
        "wires": []
    },
    {
        "id": "1d9d977b0ee39156",
        "type": "ui_switch",
        "z": "30c2080cd95f07e3",
        "name": "",
        "label": "switch 12",
        "tooltip": "",
        "group": "4f34e9fc19a9590e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 540,
        "wires": [
            [
                "2ce97019317067b5"
            ]
        ]
    },
    {
        "id": "d414da2550af1cc2",
        "type": "ui_button",
        "z": "30c2080cd95f07e3",
        "name": "",
        "group": "4f34e9fc19a9590e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 640,
        "wires": [
            [
                "dca5bf2c55777db7",
                "9180f806066bdf2a",
                "8866514cba7faa8f",
                "d45214336c66e101",
                "d174c324edafc170",
                "0d52f7b8dcdc5868",
                "6d486fa26781984f",
                "1e195203af1a883b",
                "badbe94ac1d585ad",
                "4f9186edc7af4b79",
                "2ce97019317067b5",
                "0fcfb961e5ab8555"
            ]
        ]
    },
    {
        "id": "e2c839a83bbd9013",
        "type": "ui_button",
        "z": "30c2080cd95f07e3",
        "name": "",
        "group": "4f34e9fc19a9590e",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 680,
        "wires": [
            [
                "dca5bf2c55777db7",
                "9180f806066bdf2a",
                "d45214336c66e101",
                "d174c324edafc170",
                "0fcfb961e5ab8555",
                "0d52f7b8dcdc5868",
                "6d486fa26781984f",
                "1e195203af1a883b",
                "badbe94ac1d585ad",
                "4f9186edc7af4b79",
                "2ce97019317067b5",
                "8866514cba7faa8f"
            ]
        ]
    },
    {
        "id": "0dfa01e39586f4fd",
        "type": "mqtt in",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/STAT/Relay1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 160,
        "wires": [
            [
                "eacf87b424e3eb01"
            ]
        ]
    },
    {
        "id": "b0e7b6fbd5b6ad29",
        "type": "ui_switch",
        "z": "402ae319d72eccf6",
        "name": "",
        "label": "Deschide",
        "tooltip": "",
        "group": "506ab0719d70e306",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 100,
        "wires": [
            [
                "1f28e9f3d150843e"
            ]
        ]
    },
    {
        "id": "57285d1cc57fa4d8",
        "type": "mqtt out",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/CMD/Relay1",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "73b4f198a35ee3f6",
        "type": "mqtt in",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/STAT/Relay2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "b0e7b6fbd5b6ad29"
            ]
        ]
    },
    {
        "id": "eacf87b424e3eb01",
        "type": "ui_switch",
        "z": "402ae319d72eccf6",
        "name": "",
        "label": "Inchide",
        "tooltip": "",
        "group": "506ab0719d70e306",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "e7be816ec7b4639c"
            ]
        ]
    },
    {
        "id": "de3a0dd5118ced7b",
        "type": "mqtt out",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/CMD/Relay2",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "f9e4e2328212a77c",
        "type": "mqtt in",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/STAT/Relay3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "d98c15c67766ce5d"
            ]
        ]
    },
    {
        "id": "d98c15c67766ce5d",
        "type": "ui_switch",
        "z": "402ae319d72eccf6",
        "name": "",
        "label": "Trigger",
        "tooltip": "",
        "group": "506ab0719d70e306",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 220,
        "wires": [
            [
                "b03d1992d272fe1e"
            ]
        ]
    },
    {
        "id": "fb063873ee362e62",
        "type": "mqtt out",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/CMD/Relay3",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "f723461ba2cccfde",
        "type": "mqtt in",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/STAT/Relay4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "81107ae8e0893d37"
            ]
        ]
    },
    {
        "id": "81107ae8e0893d37",
        "type": "ui_switch",
        "z": "402ae319d72eccf6",
        "name": "",
        "label": "Stop",
        "tooltip": "",
        "group": "506ab0719d70e306",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "6a404fdcf72eac3c"
            ]
        ]
    },
    {
        "id": "f938beb2013f4347",
        "type": "mqtt out",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/CMD/Relay4",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "7df932c9b9323794",
        "type": "comment",
        "z": "402ae319d72eccf6",
        "name": "Gate automation",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "ca022a88ad05e408",
        "type": "comment",
        "z": "402ae319d72eccf6",
        "name": "Light automation",
        "info": "",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "99bc9f8280a64828",
        "type": "mqtt in",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/STAT/Relay5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "888bdf10d859f5c5"
            ]
        ]
    },
    {
        "id": "888bdf10d859f5c5",
        "type": "ui_switch",
        "z": "402ae319d72eccf6",
        "name": "",
        "label": "Left light",
        "tooltip": "",
        "group": "506ab0719d70e306",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "96bf08e1bdbd4252"
            ]
        ]
    },
    {
        "id": "85fcde512f4b4b9e",
        "type": "mqtt out",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/CMD/Relay5",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "5da0c869e3f99ce6",
        "type": "mqtt in",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/STAT/Relay6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "eece975f5a1bab3b"
            ]
        ]
    },
    {
        "id": "eece975f5a1bab3b",
        "type": "ui_switch",
        "z": "402ae319d72eccf6",
        "name": "",
        "label": "Right light",
        "tooltip": "",
        "group": "506ab0719d70e306",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 460,
        "wires": [
            [
                "8dd870237be46a1c"
            ]
        ]
    },
    {
        "id": "0f0fb557876f4b2e",
        "type": "mqtt out",
        "z": "402ae319d72eccf6",
        "name": "",
        "topic": "SecondGate/CMD/Relay6",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "1f28e9f3d150843e",
        "type": "trigger",
        "z": "402ae319d72eccf6",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "de3a0dd5118ced7b"
            ]
        ]
    },
    {
        "id": "e7be816ec7b4639c",
        "type": "trigger",
        "z": "402ae319d72eccf6",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "57285d1cc57fa4d8"
            ]
        ]
    },
    {
        "id": "b03d1992d272fe1e",
        "type": "trigger",
        "z": "402ae319d72eccf6",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "fb063873ee362e62"
            ]
        ]
    },
    {
        "id": "6a404fdcf72eac3c",
        "type": "trigger",
        "z": "402ae319d72eccf6",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "f938beb2013f4347"
            ]
        ]
    },
    {
        "id": "96bf08e1bdbd4252",
        "type": "trigger",
        "z": "402ae319d72eccf6",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "120",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 400,
        "wires": [
            [
                "85fcde512f4b4b9e"
            ]
        ]
    },
    {
        "id": "8dd870237be46a1c",
        "type": "trigger",
        "z": "402ae319d72eccf6",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "120",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "0f0fb557876f4b2e"
            ]
        ]
    },
    {
        "id": "b34fb706c2f4d3b0",
        "type": "mqtt in",
        "z": "ec1761727ca60cf2",
        "name": "",
        "topic": "tele/sonoffPower320D_afara/SENSOR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "4ae74f62ef9cf3eb",
                "3d00d2457d81a663",
                "87cbf35e467f7766",
                "133289a4043879b0",
                "871536f97bc5f88a",
                "49c6b1d3c58c7654"
            ]
        ]
    },
    {
        "id": "4ae74f62ef9cf3eb",
        "type": "ui_text",
        "z": "ec1761727ca60cf2",
        "group": "ad313602d86893b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload.ENERGY.Voltage}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "3d00d2457d81a663",
        "type": "ui_text",
        "z": "ec1761727ca60cf2",
        "group": "ad313602d86893b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Consumtion",
        "format": "{{msg.payload.ENERGY.Total}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "87cbf35e467f7766",
        "type": "ui_text",
        "z": "ec1761727ca60cf2",
        "group": "ad313602d86893b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Yesterday Consumtion",
        "format": "{{msg.payload.ENERGY.Yesterday}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "133289a4043879b0",
        "type": "ui_text",
        "z": "ec1761727ca60cf2",
        "group": "ad313602d86893b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Today Consumtion",
        "format": "{{msg.payload.ENERGY.Today}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "871536f97bc5f88a",
        "type": "ui_text",
        "z": "ec1761727ca60cf2",
        "group": "ad313602d86893b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current",
        "format": "{{msg.payload.ENERGY.Current}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "49c6b1d3c58c7654",
        "type": "ui_text",
        "z": "ec1761727ca60cf2",
        "group": "ad313602d86893b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power",
        "format": "{{msg.payload.ENERGY.Power}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "554317472d5ed26e",
        "type": "ui_switch",
        "z": "ec1761727ca60cf2",
        "name": "",
        "label": "Garden Power",
        "tooltip": "",
        "group": "ad313602d86893b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 920,
        "y": 580,
        "wires": [
            [
                "96c6547c0026458c"
            ]
        ]
    },
    {
        "id": "85d5cb52b735663a",
        "type": "mqtt in",
        "z": "ec1761727ca60cf2",
        "name": "",
        "topic": "stat/sonoffPower320D_afara/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73850d9f081d4c01",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "ed6a0c97dfdae96a",
                "bdf6d5bf73c18059"
            ]
        ]
    },
    {
        "id": "96c6547c0026458c",
        "type": "mqtt out",
        "z": "ec1761727ca60cf2",
        "name": "",
        "topic": "cmnd/sonoffPower320D_afara/Power",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73850d9f081d4c01",
        "x": 1210,
        "y": 580,
        "wires": []
    },
    {
        "id": "ed6a0c97dfdae96a",
        "type": "change",
        "z": "ec1761727ca60cf2",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "554317472d5ed26e"
            ]
        ]
    },
    {
        "id": "bdf6d5bf73c18059",
        "type": "debug",
        "z": "ec1761727ca60cf2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 280,
        "wires": []
    }
]